@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 233, 233);
}
a {
  text-decoration: none;
}
.h-full {
  height: 100vh;
}

.pointer-cursor {
  cursor: pointer;
}
.navlink {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  color: black;
  white-space: nowrap;
}
.navlink sup {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px;
}
.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}
.track .step.active:before {
  background: green;
}
.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px;
}
.track .step.active .icon {
  background: green;
  color: #fff;
}
.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd;
}
.track .step.active .text {
  font-weight: 400;
  color: #000;
}
.track .text {
  display: block;
  margin-top: 7px;
}
.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.img-sm {
  width: 80px;
  height: 80px;
  padding: 7px;
}
ul.row,
ul.row-sm {
  list-style: none;
  padding: 0;
}
.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}
.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.btn-warning {
  color: #ffffff;
  background-color: green;
  border-color: green;
  border-radius: 1px;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: rgb(0, 94, 0);
  border-color: green;
  border-radius: 1px;
}

.background-image {
  background-image: url("./assets/images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.our-product-container {
  max-width: 900px;
  width: 100%;
}

.right-product {
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
}

.left-product {
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
  text-align: right;
}

.product_open_property  tr {
  padding: 0;
  background-color: none;
  border-bottom: 1px solid rgb(223, 223, 223);
}
